<!-- ###OAI_FORM### begin -->
<form id="tx_jkzvdd_pioai-oaiform" enctype="multipart/form-data" method="POST">
    <div class="errmsg">###ERRORMSG###</div>
    ###HIDDENFIELDS###
    <label for="oaiurl">###LABEL_OAIURL###</label><br />
    <input class="textinput" type="text" id="oaiurl" name="tx_jkzvdd_pioai[oaiurl]" value="###OAIURL###" /><br />
    <label for="collectionname">###LABEL_COLLECTIONNAME###</label><br />
    <input class="textinput" type="text" id="collectionname" name="tx_jkzvdd_pioai[collectionname]" value="###COLLECTIONNAME###" /><br />
    <label for="emailentry">###LABEL_EMAILENTRY###</label><br />
    <input class="textinput" type="text" id="emailentry" name="tx_jkzvdd_pioai[emailentry]" value="###EMAILENTRY###" /><br />
    <label for="scanperiod">###LABEL_SCANPERIOD###</label><br />
    <select class="selectinput" id="scanperiod" name="tx_jkzvdd_pioai[scanperiod]" >
        <option value="86400" ###D_CHECKED###>###DAILY###</option>
        <option value="604800" ###W_CHECKED###>###WEEKLY###</option>
        <option value="2592000" ###M_CHECKED###>###MONTHLY###</option>
    </select><br /><br />
    <input class="submit" type="submit" name="submit" value="###SUBMIT###"/>
</form>	
<!-- ###OAI_FORM### end -->

<!-- ###OAI_SUCCESS### start -->
<div id="tx_jkzvdd_pioai-oaiform">
    <p>Vielen Dank für Ihre Anmeldung</p>
    <p>Wir werden ihre Angaben prüfen und Ihre Sammlung sobald wie möglich intergrieren.</p>
</div>
<!-- ###OAI_SUCCESS### end -->
